@tailwind base;

@tailwind components;

@tailwind utilities;

/* base = va s'executer au chargement de la page partout */
@layer base {
  body {
    /* on peut appliquer des class tailwind mais aussi du css classique */
    @apply pt-5 font-sans bg-cas-black-600 text-cas-white-100;
    /* background-color: #f1f1f1; */
  }
  .top-header {
    @apply mt-16;
  }
  .lateral-space {
    @apply px-[5vw];
  }
  .main-title {
    @apply text-5xl font-bold;
  }
  .link-active {
    @apply text-cas-gradient-purple;
  }
  .link-special {
    @apply lg:text-cas-gradient-orangeLight;
  }
  .slider-item {
    transition: all 1s ease-out;
  }
  .link-translate-z {
    transform: translateZ(30px);
  }

  .span_title {
    background-image: linear-gradient(45deg, #a8c5de 0%, #c79dde 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .span_title2 {
    @apply span_title;
    background-image: linear-gradient(45deg, #b08676 0%, #f5d8a4 100%);
  }
}

/* components = mieux se retrouver, expres pour les composants */
@layer components {
  /* autre exemple que la base, une classe composé d'autres classes: */
  .home-card {
    @apply border rounded-3xl bg-slate-300;
  }
}

@layer utilities {
} ;
