@tailwind base;

@tailwind components;

@tailwind utilities;

/* base = va s'executer au chargement de la page partout */
@layer base {
  input,
  textarea {
    @apply rounded-lg border-cas-white-100 px-4 py-2 focus-visible:outline-cas-gradient-purple text-cas-black-600;
  }

  body {
    /* on peut appliquer des class tailwind mais aussi du css classique */
    @apply pt-5 font-sans bg-cas-black-600 text-cas-white-100;
    /* background-color: #f1f1f1; */
  }
  .top-header {
    @apply mt-20;
  }
  .top-header-admin {
    @apply mt-32;
  }
  .admin-content {
    @apply mt-14;
  }

  .lateral-space {
    @apply px-[5vw];
  }
  .main-title {
    @apply text-5xl font-bold;
  }
  .link-active {
    @apply text-cas-gradient-purple;
  }
  .link-special {
    @apply lg:text-cas-gradient-orangeLight;
  }
  .slider-item {
    transition: all 1s ease-out;
  }
  .link-translate-z {
    width: max-content;
    height: 120%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .link-box {
    transition: all 1s ease-out;
    transform: perspective(2000px);
    transform-style: preserve-3d;
  }

  .span_title {
    background-image: linear-gradient(45deg, #a8c5de 0%, #c79dde 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .span_title2 {
    @apply span_title;
    background-image: linear-gradient(45deg, #b08676 0%, #f5d8a4 100%);
  }
}
/* components = mieux se retrouver, expres pour les composants */
@layer components {
  /* autre exemple que la base, une classe composé d'autres classes: */
  .home-card {
    @apply border rounded-3xl;
  }
}

@layer utilities {
  .btn-filter-on {
    @apply text-cas-gradient-purple;
  }
  .custom-gradient-primary {
    background-image: linear-gradient(45deg, rgb(168, 197, 222) 0%, rgb(199, 157, 222) 100%);
  }
  .custom-gradient-secondary {
    background-image: linear-gradient(45deg, rgb(245, 216, 164) 0%, rgb(176, 134, 118) 100%);
  }
} ;
